/* iNTER FONT  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* MIAMA FONT  */
@import url('https://fonts.cdnfonts.com/css/miama');

* {
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
/* Shared Styles */
.display-flex {
  display: flex;
}

.primary-btn {
  width: 200px;
  height: 54px;
  background: rgb(230, 83, 60);
  border-radius: 40px;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.secondary-btn {
  width: 200px;
  height: 54px;
  box-sizing: border-box;
  border: 1px solid rgba(7, 7, 7, 0.014);
  background: radial-gradient(
    circle,
    rgb(73, 67, 67) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  border-radius: 42px;
  color: #fff;
  border: 1px solid white;
  font-size: 18px;
  cursor: pointer;
}
button {
  margin-right: 10px;
}

.run-btn {
  width: 200px;
  height: 54px;
  background: rgb(230, 83, 60);
  border-radius: 40px;
  color: #fff;
  border: none;
  font-size: 18px;
}

/* Header Container */
.header {
  background: radial-gradient(
    circle,
    rgb(73, 67, 67) 0%,
    rgba(17, 17, 17, 1) 100%
  );
}
.header-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.logoname {
  color: rgb(230, 83, 60);
  font-style: italic;
  font-family: "Inter";
  font-size: 35px;
  font-weight: 800;
  margin-left: 25px;
}

.gym-name {
  margin-top: 20px;
}
/* Navitems */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-items > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  margin: 5px 8px 0 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  margin-right: 100px;
  margin-top: 5px;
}
.nav-items ul li {
  margin: 8px 0 8px 0;
  cursor: pointer;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.hamburger {
  display: none;
}
.active {
  border-radius: 50px;
  background: rgb(230, 83, 60);
  padding: 8px 20px;
}

/* Banner Section */
.banner-container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  margin-left: 150px;
}

.banner-content span{
  font-family: 'Miama', sans-serif;
  font-weight: normal;
  font-style: italic;
}

.banner-content h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.banner-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 40px;
}

.banner-img {
  margin-right: 160px;
  position: relative;
}

.circle,
.free-videos {
  width: 180px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: -125px;
  right: 350px;
}
.dot {
  width: 30px;
  height: 30px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}
.dot-no {
  font-size: 20px;
  font-weight: 900;
  color: white;
  position: absolute;
}
.playbtn{
  position: relative;
  left: 35%;
  top: 15%;
  color: #fff;

}
.free-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -450px;
  left: 220px;
}
.circle p,
.free-videos p {
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
}
/* Main Sections */
.main-header {
  background-color: black;
  padding-top: 100px;
}
/* ====== Habit Sections ======== */
.habit-section-container,
.run-extra-mile {
  max-width: 1040px;
  margin: 0 auto;
}

.habit-content {
  text-align: center;
}
.habit-content h1 {
  color: #fff;
  font-size: 40px;
}
.habit-content p {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.habit-images-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.habit-images {
  width: 230px;
  height: 270px;
  text-align: center;
}
.habit-images h4 {
  color: #fff;
}
.habit-images p {
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.5);
}
.habit-images img {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 15px;
}

/* Run contents */
.run-extra-mile {
  margin-top: 100px;
  padding: 10px 5px;
}
.run-contents {
  color: #fff;
  width: 400px;
  margin-left: 40px;
}
.run-contents h1 {
  font-size: 40px;
  font-weight: 900;
}
.run-contents p {
  color: rgba(255, 255, 255, 0.5);
  font-style: 14px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 30px;
}

.run-extra-mile {
  height: 370px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.run-images img {
  width: 350px;
  height: 300px;
  border-radius: 7px;
  margin-top: 15px;
  margin-left: 14px;
  object-fit: none;
  object-position: 68% 32%;
}

/* BMI Section */
.bmi-container {
  color: #fff;
  margin-top: 100px;
}

.bmi-desc {
  padding-left: 250px;
}
.bmi-desc h1 {
  font-size: 40px;
}
.bmi-desc p {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 14px;
}

/* BMI sections  */
.bmi-content {
  max-width: 1400px;
  height: 400px;
  margin-top: 80px;
  background: rgb(34, 34, 34);
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}
table thead td {
  color: #fff;
}
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  color: rgba(255, 255, 255, 0.5);
}

/* BMI Container */
.bmi-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.bmi-tables {
  margin-top: -15px;
  margin-left: 46px;
}

.bmi-form {
  width: 570px;
  height: 380px;
  margin-top: 54px;
}


.form .form-wrap{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

input,.gender {
  padding: 10px 25px 12px 50px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color:rgba(255, 255, 255, 0.5) ;
  gap: 15px; 
  margin-bottom: 12px;
  border: none;
}


.form select{
  padding: 10px 20px;
  background-color: #383838;
}
.form .actv{
  grid-column: 1 / span 3;
  border: none;
}
.actv {
  padding: 12px 40px 12px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color:rgba(255, 255, 255, 0.5) ;
  padding: 12px 150px;
  margin-bottom: 12px;
}


.bmi-form p {
  color: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
}

.bmi-cal-btn {
  width: 200px;
  height: 54px;
  background: rgb(230, 83, 60);
  border-radius: 40px;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
/* Pricing section  */
.price-contents{
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 80px;
}
.pricing-cards-lists{
  max-width: 1040px;
  margin: 0 auto;
  color: white;
  display: flex;
  gap: 100px;
  margin-top: 25px;
}
.pricing-card{
  background-color: hsla(79, 6%, 64%, 0.7);
  padding: 55px 55px;
  margin-top: 3px;
  border-radius: 10px;
}

 .pricing-card>ul{
  list-style: none;
  margin-bottom: 30px;
}

.pricing-card > ul li{
  font-size: 14px;
}

.pricing-img{
    width: 45px;
    margin-left: 7px;
    margin-top: 6px;
}
.pricing-shape {
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 60%;
  place-items: center;
  margin-bottom: 1rem;
}
.pricing-title,.pricing-number{
  font-size: 19px;
  font-weight: 600;
}

.pricing-title{
  color: #383838;
  margin-bottom: 1rem;
}
.pricing-card,.pricing-list{
  display: grid;
}
.pricing-number{
  margin-bottom: 1rem;
}

.pricing-list{
  row-gap: 1.5rem;
}

.pricing-btn{
  background: rgb(230, 83, 60);
  padding: 20px;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.pricing-item{
  display: flex;
  column-gap: .5rem;
  align-items: center;
}

.pricing-item i{
  color: rgb(230, 83, 60);
}
.pricing-item-opacity{
  opacity: 0.3;
}
.pricing-btn{
  background-color: #ffffff3d;
}
.pricing-btn:hover{
  background: rgb(230, 83, 60);
}

.pricing-card-active{
  background: rgb(230, 83, 60);
  border: 2px solid  rgba(230, 83, 60, 0.432);;

}

.pricing-card-active .pricing-shape{
  background-color: rgba(56, 56, 56, 0.089);
}

.pricing-card-active .pricing-item i{
  color: rgba(10, 7, 7, 0.733);
}

.pricing-card-active .pricing-title,
.pricing-card-active .pricing-number,
.pricing-card-active .pricing-item{
  color: black;
}

.pricing-card-active .pricing-btn:hover{
  background-color: black;
}

/* Meet Team */
.meet-team {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.meet-team-content {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 50px;
}
.meet-team h1 {
  color: #fff;
  font-size: 40px;
}

.meet-team p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-top: 10px;
}
/*  Meet Team */
.team-members {
  max-width: 1020px;
  height: 459px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 10px;
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
}

.trainer img {
  width: 270px;
  height: 200px;
  border-radius: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-size: cover;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.trainer-desc {
  margin-top: -75px;
  margin-left: 70px;
}
.trainer-desc h2 {
  font-size: 15px;
  color: #fff;
}
.trainer .trainer-desc h4 {
  color: rgba(0, 0, 0, 0.5);
}


/* Footer */
footer {
  background-color: rgb(34, 34, 34);
  padding: 33px 30px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.footer-colm {
  margin-right: 110px;
}
.footer-logo {
  color: rgb(230, 83, 60);
  font-style: italic;
  font-family: "Inter";
  margin-right: 10px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
}
.footer-content {
  padding: 10px 10px;
  margin-right: 25px 14px;
}

.footer-content p {
  margin-top: 5px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.footer-colm h2 {
  color: #fff;
  font-size: 35px;
}

.footer-colm ul > li {
  list-style: none;
  font-style: 15px;
  margin-top: 15px;
  margin-right: 40px;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 500;
}

hr {
  color: rgba(255, 255, 255, 0.5);
  width: 1200px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.reserved-title p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

/* Responsive Media query */
/* Mobile Device */
@media screen and (max-width: 576px) {

  /* Header */
  .header-container {
    max-width: 576px;
    margin: 0 auto;
  }

  /* Nav Items */
  .nav-items {
    display: none;
  }
  .logoname {
    font-size: 20px;
  }
  .gym-name {
    margin-right: 0px;
    margin-top: 5px;
  }

  .primary-btn,
  .secondary-btn {
    width: 155px;
    height: 40px;
    font-size: 13px;
  }

  .hamburger {
    display: block;
    color: white;
  }

  /* Banner Section  */
  

  .banner-container {
    max-width: 576px;
    margin: 0 auto;
    flex-direction: column;
    margin: 0 20px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
  }
  .banner-img-container {
    width: 100%;
    height: 580px;
  }
  
  .banner-content {
    margin-left: 5px;
  }
  .banner-content h1 {
    font-size: 35px;
    line-height: 30px;
  }
  .banner-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 500;
  }
 
  .circle {
    width: 156px;
    height: 70px;
    left: 40px;
    bottom: -225px;
    right: 370px;
  }
  .free-videos {
    width: 156px;
    height: 70px;
    top: -515px;
    left: 200px;
  }
  .free-videos p {
    align-items: center;
    text-align: left;
    margin-left: 22px;
    font-size: 15px;
  }
  .dot {
    width: 30px;
    height: 30px;
    margin-left: 3px;
  }

  /* Habit Images */
  .habit-images-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    margin-left: 100px;
  }

  .habit-content h1 {
    font-size: 20px;
  }
  .habit-content p {
    font-size: 14px;
  }

  /* Run extra mile  */
  .run-extra-mile {
    width: 365px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 60px;
    padding: 20px;
  }
  .run-contents {
    margin-left: -40px;
    width: 275px;
  }

  .run-contents h1 {
    font-size: 27px;
  }

  .run-contents p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
  }

  .run-images img {
    width: 350px;
    height: 230px;
    margin: 8px;
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
    object-fit: cover;
  }

  .run-btn {
    width: 320px;
    height: 40px;
  }

  /* BMI Contents */
  .bmi-desc {
    padding-left: 20px;
  }

  .bmi-content {
    max-width: 570px;
    height: 750px;
    display: flex;
    flex-direction: column;
  }

  .bmi-tables {
    margin-top: 20px;
    margin-left: -75px;
  }

  .bmi-tables h1 {
    font-size: 20px;
  }
  .form .form-wrap{
    width: 125%;
    gap: 15px;
  }
  
  .form-wrap .gender{
    margin-left: 7px;
  }

  .bmi-form {
    width: 300px;
    height: 443px;
    margin-top: -165px;
    margin-right: 60px;
  }

  .bmi-form h1 {
    font-size: 25px;
    margin-top: 30px;
  }

  .bmi-form input,.bmi-form select {
    padding: 13px 0px 11px 10px;
    width: 100%;
    gap: 8px;
  }

  .bmi-cal-btn {
    width: 200px;
    height: 40px;
  }
   /* Pricing Items */
  
   .price-contents{
    font-size: 20px;
    margin-bottom: 20px;
   }

   .pricing-cards-lists{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 2rem;
   }

   .pricing-card{
     width: 250px;
     height: 400px;
     margin: 0 auto;
     padding: 50px;
   }

   .pricing-title,.pricing-number{
    font-size: 25px;
   }
   
   .pricing-list{
    row-gap: 0.8rem;
  }

  .pricing-btn{
    width: 130px;
    height: 22px;
  }
   
  /* Team Members */

  .team-members {
    max-width: 576px;
    height: 920px;
  }
  .members{
    margin-top: -20px;
  }
  .meet-team h1 {
    font-size: 21px;
  }
  .meet-team-content {
    margin-top: 35px;
    padding-bottom: 25px;
  }
  .members {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    justify-items: center;
    justify-content: space-evenly;
    padding: 23px;
  }

  .meet-team p {
    font-size: 13px;
    margin-top: 14px;
  }

  .trainer-desc {
    margin-left: 10px;
  }

  .trainer img {
    margin-top: 20px;
    margin-bottom: 22px;
  }

  .trainer-1,.trainer-4{
    display: none;
  }

  /* Footer */
  .footer-logo{
    font-size: 35px;
  }
  .footer {
    padding: 20px 10px;
  }

  .footer-container {
    flex-direction: column;
    gap: 17px;
  }
  .mobile-break{
    display: none;
  }

  .footer-content p {
    font-size: 15px;
    margin-right: -30px;
  }
 

  .footer-colm{
    margin-left: -45px;
  }

  .footer-colm h2 {
    font-size: 25px;
  }

  .footer-colm > ul > li{
    font-size: 20px;
  }

  hr {
    width: 330px;
    margin-left: 15px;
    margin-top: 25px;
  }

  .reserved-title p {
    font-size: 18px;
    font-weight: 400;
  }
 
}


@media screen and (max-width: 320px) {
  
  .logoname {
    margin-left: -10px;
    }
  .banner-container{
    height: 690px;
  }
  .banner-content {
    margin-left: -23px;
  }
  .banner-content h1 {
    font-size: 31px;
    line-height: 25px;
  }
  .banner-content p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .primary-btn, .secondary-btn {
    width: 119px;
    height: 50px;
    font-size: 14px;
}
  .banner-img img{
    width: 280px;
    height: 420px;
    margin: -14px ;
    margin-top: 5px;
  }
  .free-videos{
    width: 130px;
    top: -370px;
    left: 135px;
  }
  .circle{
    bottom: -125px;
  }
  .habit-images-container{
    margin-left: 45px;
  }
  .habit-content p {
    margin-top: 3px;
    font-size: 13px;
  }

  .run-extra-mile{
    width: 260px;
    height: 430px;
    margin-top: 40px;
  }
  .main-header {
    padding-top: 0px;
    }

  .run-contents{
    margin-left: 10px;
  }
  .run-contents h1 {
    font-size: 30px;
  }
  .run-btn{
    width: 250px;
  }
  .run-images img {
    width: 254px;
    height: 200px;
    margin: 15px;
}
.bmi-desc h1 {
  font-size: 31px;
  margin-top: -89px;
}
.bmi-desc p {
  margin-top: 7px;
  font-size: 15px;
}
.bmi-content{
  height: 700px;
  margin-top: 10px;
}

.bmi-tables {
  margin-left: -6px;
}
.bmi-form {
  margin-right: 0px;
}
.bmi-form h1 {
  font-size: 20px;
}
.bmi-form p{
  font-size: 15px;
}

.form .form-wrap {
  width: 100%;
  gap: 12px;
}
.form select{
  padding: 13px 0px 6px 10px;
}
.price-contents h1{
  margin-top: -70px;
}
.pricing-card {
  width: 113px;
  height: 210px;
}

.pricing-header{
  margin-top: -40px;
}
.pricing-shape {
  width: 40px;
  height: 40px;
  align-items: start;
  margin-left: -40px;
 
}
.pricing-img {
  width: 32px;
  margin-left: 4px;
  margin-top: 4px;
}

.pricing-title, .pricing-number {
  font-size: 14px;
  margin-top: -10px;
  margin-left: -36px;
}

.pricing-card>ul {
  margin-bottom: 105px;
  margin-right: 10px;
}
.pricing-btn {
  width: 100px;
  height: 5px;
  margin-top: -86px;
  margin-left: -20px;
  text-align: center;
  font-size: 10px;
}
.pricing-card > ul li {
  font-size: 10px;
}
.pricing-list li{
  font-size: 10px;
}

.pricing-item i{
  margin-right: 10px;
}
.pricing-list{
  margin: -32px;
  margin-right: 5px;
  margin-top: 2px;
}


.meet-team h1 {
  font-size: 29px;
  margin-top: -25px;
}
.meet-team p{
  margin-top: 3px;
}

.members {
  padding: 8px;
}
.trainer img{
  margin-top: 23px;
}
.team-members {
  max-width: 576px;
  height: 890px;
}
.footer-logo{
  margin-right: 65px;
}
.footer-content{
  margin-top: -75px;
  margin-left: -10px;
  padding: 0;
}
.footer-content p{
  font-size: 14px;
}

.footer-logo{
  font-size: 25px;
}
.footer-colm {
  margin-left: 0px;
}
.footer-colm > ul > li {
  font-size: 15px;
}
hr {
  width: 250px;
  margin-left: -7px;
  margin-top: 25px;
}
.footer-colm {
  margin-left: -10px;
}

.reserved-title p {
  font-size: 13px;
  font-weight: bold;
}
  
}

